.spain,.dinamarca,.emiratos,.japon{
    width:33%;
    height: 200px;
    margin: 20px;
	display: inline-block;
	border: 1px solid #000;
}
.spain{
    background-color: red;
    &__franja{
        width: 100%;
        height: 100px;
        background-color: yellow;
        position: relative;
        top: 53px;
    }
}
.dinamarca{
    background-color: red;
    &__vertical{
        width: 25px;
        height: 100%;
        background-color: white;
        position:relative;
        left: 90px;
    }
    &__horizontal {
        width: 100%;
        height: 25px;
        background-color: white;
        position: relative;
        bottom: 116px;
    }
}
.emiratos{
    background-color: black;
    &__green{
        height: 74px;
        bottom: 0;
        width: 100%;
        background-color: green;
    }
    &__white{
        background-color: white;
        height: 74px;
        top: 74px;
        width: 100%;
    }
    &__red{
        position: relative;
        background: red;
        height: 100%;
        width: 20%;
        bottom: 148px;
    }
}
.japon{
    background-color: white;
    &__naciente{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position:relative;
        top: 50px;
        left: 38%;
        background-color: red;
    }
}