.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    &__list {
        background: olive;
        box-sizing: border-box;
        float: left;
        width: 25%;
    }
    &__link{
        color: #FFF;
        display: block;
        padding: 10px;
        text-decoration: none;
    }
    &__link:hover{
         background: #000;
    }  
}
.text{
    clear:both;
}