.main {
    height: 200px;
    width: 60%;
    position: relative;
    left: 19.55%;
}
.title {
    background-color: black;
    height: 40px;
    width: 100%;
    margin-top: 40px;
    position: relative;
    top: 10%;
    &__page{
        color: white;
        padding-top: 9px;
        padding-left: 10px;
    }
}
.menu {
    width: 30%;
    height: 120%;
    background-color: gainsboro;
    float: inline-start;
    &__title{
        padding-left: 20px;
        padding-top: 15px;
    }
}
.section__sub {
    height: 70%;
    width:70%;
    background-color: white;
    position: relative;
    left: 277px;
    bottom:200px;
    &__title, &__text{
        padding-left: 15px;
    }
}
.footer {
    background-color: gray;
    width: 100%;
    height: 30px;
    position: relative;
    bottom: 100%;
    color: white;
    &__text{
        padding: 5px;
        text-align: center;
    }
}